/* GENERAL */

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	padding-top: 39px;
	position: relative;
}

.col-md-3,
.col-xs-6 {
	padding: 0;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.7em;
}

h3 {
	font-size: 1.4em;
}

h1,
h2,
h3,
h4 {
	font-family: 'Lora', serif;
}

p {
	font-family: 'Overpass', sans-serif;
}

.container {
	padding-top: 50px;
}


/* HOME STYLINGS */

.projectName,
ul.nav {
	text-transform: uppercase;
}

.projectName a {
	color: white;
}

.carousel-caption {
	position: absolute;
	width: 300px;
	height: 300px;
	top: 15%;
	left: 15%;
}

.carousel-caption h3,
.carousel-caption p {
	background-color: rgba(0,0,0,.3);
	padding: 5px;
}

/* ABOUT */

.header {
	text-align: center;
	margin-bottom: 40px;
}

.intro-image {
	width: 80%;
	margin: 0 10% 5%;
}

.intro,
.skills h2 {
	text-align: center;
}

blockquote {
	border-left: none;
}

.intro p,
.skills {
	margin-top: 3em;
}

.skills ul {
	padding-left: 0;
	list-style: none;
	text-align: left;
	float: left;
	width: 50%;
}

#skill-list li {
	padding-bottom: 5px;
}

.main-text {
	clear: both;
	padding-top: 20px;
}

/* WORK */

.work-image {
	margin: 5%;
	width: 90%;
	border: 1px solid black;
}

.work-image:hover {
	box-shadow: 2px 2px 5px black;
}


/* LEARN MORE */

.learn-row {
	padding: 30px 15px 0;
}

.learn-more {
	margin: 0;
	text-align: left;
}

.learn-more,
.modal-title {
	float: left;
}

.modal-button,
.modal-exit {
	float: right;
}

.modal-header {
	height: 55px;
}

#modalembed {
    height: 500px;
    width: 100%;
    padding: 10px;
}

.panel-default>.panel-heading {
	background-color: #CFE4E4;
}


/* VIDEO */
.video {
	width: 90%;
	margin: 39px auto 0;
}


/* CONTACT STYLINGS */

.contact-container {
	width: 100%;
	padding: 39px 0 0;
}

.contact-container h2 {
	font-weight: 900;
}

.contact-intro {
	margin-left: 5%;
}

.fixed-background {
	background-image: url("../img/contact_background.JPG");
	background-attachment: fixed;
	background-size: cover;
	box-shadow: inset 500px 0 500px 0 rgba(0,0,0,0.1);
  width: 100%;
  padding: 5%;
  height: 100%;
  color: white;
}

.basic-contact {
	float: left;
	margin-bottom: 30px;
}

.social {
	margin-top: 20px;
}

.social a {
	margin-right: 5px;
}

.contact-form {
	float: right;
}

.name,
.number {
	width: 49%;
}

.name {
	float: left;
	margin-right: 2%;
}

.number {
	float: right;
}

.contact-form button {
	margin-top: 15px;
	float: right;
}

span.push:hover {
	color: blue;
}


/* FOOTER */

footer {
	height: 41px;
	border-top: 1px solid darkgrey;
	background-color: lightgrey; 
}

#twitter,
#facebook,
#copyright {
	display: inline-block;
	margin: 10px;
	height: 20px;
}

#twitter,
#facebook {
	float: left;
}


#copyright {
	float: right;
}

#copyright p {
	margin-bottom: 0;
}